<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Seleção de Mercado</title>
</head>
<body>
    <h2>Selecione o Mercado</h2>

    <!-- Formulário para selecionar o mercado -->
    <form action="/filtro_mercado" method="POST">
        <label for="mercado">Mercado:</label>
        <select name="mercado" id="mercado">
            <!-- Populando o select com os mercados -->
            {% for mercado in mercados %}
                <option value="{{ mercado }}">{{ mercado }}</option>
            {% endfor %}
        </select>

        <button type="submit">Buscar</button>
    </form>
    
</body>
</html>
